// 공통
@import "./scss/common.scss";

// header
@import "./scss/header.scss";

// slider
@import "./scss/slider.scss";

// Step1
@import "./scss/step1.scss";

// Step2
@import "./scss/step2.scss";

// Step3
@import "./scss/step3.scss";

// Step4
@import "./scss/step4.scss";

// footer
@import "./scss/footer.scss";

