/* 공통 */
* { padding: 0; margin: 0; font-family: 'IropkeBatang';}
li {list-style: none;}
a { color: #333; text-decoration: none;}
fieldset { border: none; }
img { width:100%; }
.container {
  width: 1080px;
  margin: 0 auto;
}
body { overflow-x: hidden; }
.ir { position: absolute; left:-9999px; top: -9999px; display: none; width: 0px; height: 0px;}
.ellipsis2 {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ellipsis3 {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 모달창 z-index: 10 */
/* 메뉴 z-index: 5 */
/* 배너 z-index: 1 */