/* #header */

#header {
  border-top: 3px solid #ff0000;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
}

/* .top__left */

.top__left {
  display: flex;
  align-items: center;

  .country__list ul > {
    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 25px;
      padding: 15px 5px 15px 25px;
      box-sizing: border-box;
      border: 1px solid #c0c0c0;
      cursor: pointer;

      &:first-child {
        border-radius: 100px;
        font-weight: bold;
      }

      > ul > {
        .country__second {
          display: none;
          position: absolute;
          left: 1%;
          top: 31px;
          background-color: #fff;
          border-radius: 0;
          padding-left: 41px;
          box-sizing: border-box;

          &.active {
            display: block;
            border-radius: 0;
            line-height: 1px;
          }
        }

        .country__ENG {
          display: block;
          margin-right: 17px;
          text-align: center;
          line-height: 4px;
          border-radius: 0;
        }
      }
    }

    .country__first > a::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url(/images/lang_ko.png);
      background-repeat: no-repeat;
      background-position: center;
      padding-top: 3px;
    }

    li {
      &.country__first > a {
        &:last-child::before {
          display: none;
        }

        &::after {
          content: "";
          display: inline-block;
          margin-left: 8px;
          width: 10px;
          height: 10px;
          background-image: url(/images/lang_arr.png);
          background-repeat: no-repeat;
          background-position: center center;
        }

        &:last-child::after {
          display: none;
        }
      }

      a {}
    }
  }

  .list__site {
    margin-left: 15px;

    ul {
      display: flex;

      li a {
        display: inline-block;
        padding: 5px;

        &.youtube {
          background-image: url(/images/1_1.png);
          background-size: cover;
          width: 25px;
          height: 25px;
          margin-top: 5px;
        }

        &.instargram {
          background-image: url(/images/1_2.png);
          background-size: cover;
          width: 25px;
          height: 25px;
          margin-top: 5px;
        }

        &.facebook {
          background-image: url(/images/1_3.png);
          background-size: cover;
          width: 25px;
          height: 25px;
          margin-top: 5px;
        }

        &.blog {
          background-image: url(/images/1_4.png);
          background-size: cover;
          width: 25px;
          height: 25px;
          margin-top: 5px;
        }
      }
    }
  }
}

/* .top__right */

.top__right {
  display: flex;
  align-items: center;
}

.site__route ul {
  display: flex;

  li {
    position: relative;
    margin-right: 5px;

    &:hover a {
      text-decoration: underline;
    }

    &:after {
      content: "";
      position: absolute;
      left: -4px;
      top: 10px;
      width: 1px;
      height: 11px;
      background-color: #949494;
    }

    &:first-child:after {
      display: none;
    }

    a {
      position: relative;
      display: block;
      padding: 5px 5px 5px 5px;
      font-size: 15px;

      &.home {
        padding-left: 20px;
        color: red;

        &:before {
          content: "";
          position: absolute;
          left: 2px;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          background-image: url(/images/ico_home.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

.site__search form {
  fieldset {
    display: flex;
  }

  .search {
    padding: 5px 0 5px 10px;
    border-radius: 15px;
    border-color: #ccc;
  }

  .searchBtn {
    display: block;
    width: 35px;
    height: 35px;
    background-image: url(/images/btn_top_sch.png);
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: cover; */
    border: none;
    border-radius: 50%;
    margin-left: 2px;
    cursor: pointer;
  }
}

/* .header__bottom */

.header__bottom {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo h1 a {
  display: block;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 30px;
}

.nav {
  position: relative;
  z-index: 5;

  > ul {
    display: flex;

    > li {
      position: relative;

      > a {
        display: block;
        font-weight: bold;
        font-size: 20px;
        padding: 30px;
        transition: color 0.2s;
      }
    }

    &:hover > li > a {
      color: #ccc;
    }

    > li {
      &:hover > a {
        color: #000;
      }

      > ul.submenu {
        display: none;
        position: absolute;
        left: -22px;
        top: 86px;

        > li {
          border: 1px solid #ccc;
          border-collapse: collapse;

          > a {
            display: block;
            width: 172px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: #676767;
            background-color: #f8f8f8;
            transition: all 0.2s;
          }

          a:hover {
            background-color: #ff0000;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 메뉴 */

/* SUBMENU */

.header__mall ul {
  display: flex;
  align-items: flex-end;

  li {
    margin-right: 20px;

    a {
      display: inline-block;

      &.mall {
        position: relative;
        background-color: #ff0000;
        color: #fff;
        font-weight: bold;
        padding: 7px 28px 7px 10px;
        border-radius: 30px;

        &:after {
          content: "";
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          background-image: url(/images/icn_mall.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      &.submenu {
        background-image: url(/images/gnb_btn.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 38px;
        height: 23px;
      }
    }
  }
}

/* .hamberger__modal */

.hamberger__modal {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  .modal__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 900px;
  }
}

.modal__box {
  .modal__close {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 28px;
    transition: color 0.2s;

    &:hover {
      color: #6d92f7;
      cursor: pointer;
    }
  }

  .modal__one, .modal__two, .modal__three {
    width: 28%;

    ul li {
      &:last-child {
        margin-bottom: 10px;
      }

      &.first a {
        color: #3249ce;
        font-weight: bold;
        font-size: 22px;
      }

      a {
        display: block;
        padding: 8px 8px 8px 0;
        padding-left: 16px;
        border-bottom: 1px solid #ccc;
        transition: background-color 0.2s;
      }

      &:hover a {
        background-color: #dee7ff;
      }
    }
  }
}
