/* #slider */

#slider {
  position: relative;
  z-index: 1;

  .main__slider div {
    &.slick1 {
      position: relative;

      img {}

      a {
        position: absolute;
        left: 20%;
        top: 60%;
        transform: translate(-20%, -60%);
        display: block;
        padding: 12px 40px;
        border-radius: 15px;
        background-color: #ff1e1e;
        color: #fff;
        transition: background-color 0.2s;

        &:hover {
          background-color: #da1111;
        }
      }
    }

    &.slick2 {
      position: relative;

      img {}

      .slick2__desc {
        position: absolute;
        left: 20%;
        top: 35%;
        transform: translate(-20%, -35%);

        h2 {
          position: relative;
          font-size: 45px;
          padding-bottom: 10px;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 145px;
            height: 1px;
            background-color: #000;
          }
        }

        p {
          font-size: 35px;

          &.desc1 {
            padding-top: 10px;
          }

          &.desc2 {
            strong {
              color: #ff1e1e;
            }

            font-weight: bold;
          }
        }

        a {
          display: inline-block;
          padding: 12px 40px;
          border-radius: 15px;
          background-color: #ff1e1e;
          color: #fff;
          margin-top: 80px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #da1111;
          }
        }
      }
    }

    &.slick3 {
      position: relative;

      img {}

      .slick3__desc {
        position: absolute;
        left: 22%;
        top: 35%;
        transform: translate(-22%, -35%);

        h2 {
          position: relative;
          font-size: 45px;
          padding-bottom: 10px;

          strong {
            color: #a5a4a4;
            font-weight: bold;
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 115px;
            height: 1px;
            background-color: #000;
          }
        }

        p {
          font-size: 35px;

          &.desc1 {
            padding-top: 10px;
          }

          &.desc2 {
            font-weight: bold;
          }

          &.desc3 {}
        }

        a {
          display: inline-block;
          padding: 12px 40px;
          border-radius: 15px;
          background-color: #ff1e1e;
          color: #fff;
          margin-top: 80px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #da1111;
          }
        }
      }
    }

    &.slick4 {
      position: relative;

      img {}

      .slick4__desc {
        position: absolute;
        left: 22%;
        top: 35%;
        transform: translate(-22%, -35%);

        h2 {
          position: relative;
          font-size: 45px;
          padding-bottom: 10px;

          strong {
            color: #a5a4a4;
            font-weight: bold;
          }

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 115px;
            height: 1px;
            background-color: #000;
          }
        }

        p {
          font-size: 35px;

          &.desc1 {
            padding-top: 10px;
          }

          &.desc2 {}

          &.desc3 {
            font-weight: bold;
          }
        }

        a {
          display: inline-block;
          padding: 12px 40px;
          border-radius: 15px;
          background-color: #ff1e1e;
          color: #fff;
          margin-top: 80px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #da1111;
          }
        }
      }
    }
  }
}

/* slick dot */

.main__slider .slick-dots {
  position: absolute;
  left: 7%;
  top: 10%;
  display: flex;
  height: 0%;
  transform: translate(7%, 10%);
  text-align: left;

  li {
    &.slick-active button:before {
      font-size: 19px;
      color: #ff0000;
    }

    button:before {
      font-size: 19px;
      color: #f53030;
    }
  }
}

#slider .pager {
  /* position: relative; */

  .prev {
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 10;

    /* background-image: url(/images/btn_prev.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,0.3); */

    &:hover {
      color: #fd0808;
    }
  }

  .next {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    /* background-image: url(/images/btn_next.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,0.3); */

    &:hover {
      color: #fd0808;
    }
  }
}

