/* banner__relation */

#banner__relation {
  position: relative;
  z-index: 1;
  padding: 75px 0;
  background-image: url(/images/bg_sec02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .relation__box */

.relation__desc {
  position: relative;
  z-index: 5;
  text-align: center;
  margin-bottom: 30px;

  span {
    background-color: #e01f1f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 15px 0 5px 0;
  }

  p {
    color: #a0a0a0;
    font-size: 14px;
  }
}

#banner__relation .relation__box ul {
  display: flex;
}

.relation__box ul li {
  width: 25%;
  margin-right: 1%;
  padding: 10px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;

  &:last-child {
    margin-right: 0%;
  }

  a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    img {
      width: 100%;
    }

    div.relation__desc1 {
      p.desc1 {
        position: relative;
        color: #fc2828;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        box-sizing: border-box;

        &::before {
          content: "";
          position: absolute;
          left: -31px;
          top: 15px;
          width: 3px;
          height: 15px;
          background-color: #db0909;
        }
      }

      h2 {
        font-size: 16px;
      }

      p.desc2 {
        font-size: 13px;
        margin: 10px 0 40px 0;
      }
    }

    .relation__year {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;

      span {
        display: block;
        font-size: 14px;

        &.more {
          position: relative;

          &::after {
            content: ">";
            padding-left: 8px;
            box-sizing: border-box;
          }
        }
      }
    }

    div.relation__desc2 {
      min-height: 353px;

      p.desc1 {
        position: relative;
        color: #fc2828;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        box-sizing: border-box;

        &::before {
          content: "";
          position: absolute;
          left: -31px;
          top: 15px;
          width: 3px;
          height: 15px;
          background-color: #db0909;
        }
      }

      h2 {
        font-size: 16px;
      }

      p.desc2 {
        font-size: 13px;
        margin: 10px 0 40px 0;
      }
    }

    .relation__year {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;

      span {
        display: block;
        font-size: 14px;

        &.more {
          position: relative;

          &::after {
            content: ">";
            padding-left: 8px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  &.desc3 img {
    padding: 0 10px;
    box-sizing: border-box;
  }

  a {
    div.relation__desc3 {
      p.desc1 {
        position: relative;
        color: #fc2828;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
        box-sizing: border-box;

        &::before {
          content: "";
          position: absolute;
          left: -31px;
          top: 15px;
          width: 3px;
          height: 15px;
          background-color: #db0909;
        }
      }

      h2 {
        font-size: 16px;
      }

      p.desc2 {
        font-size: 13px;
        margin: 10px 0 55px 0;
      }
    }

    .relation__year {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;

      span {
        display: block;
        font-size: 14px;

        &.more {
          position: relative;

          &::after {
            content: ">";
            padding-left: 8px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  &.desc4 {
    padding: 20px;

    .desc4__news {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p {
        &.news {
          font-size: 21px;
          font-weight: bold;
        }

        &.newsBtn {
          width: 35px;
          height: 35px;
          background-image: url(/images/btn_more.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }

    .desc4__notice {
      margin-bottom: 40px;

      p {
        &.notice {
          color: #fd0000;
          font-weight: bold;
          margin: 12px 0;
        }

        &.accounts {
          position: relative;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 50px;
            height: 1px;
            background-color: #c8c8c8;
          }
        }

        &.file {
          font-size: 13px;
          margin: 30px 0;
        }

        &.four {
          position: relative;
          font-size: 13px;
          margin-bottom: 10px;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -25px;
            width: 100%;
            height: 1px;
            background-color: #c8c8c8;
          }
        }
      }
    }

    .desc4__manual {
      display: flex;
      justify-content: space-around;
      text-align: center;

      .catalog p, .menual p {
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
}

/* 2 */
/* 3 */
/* 4 */
