/* #banner */

#banner {
  padding: 50px 0;

  .banner__box .banner__desc {
    text-align: center;
  }
}

/* #banner .banner__box .banner__desc */

.banner__desc {
  span {
    background-color: #e01f1f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 15px 0 5px 0;

    strong.bold {}
  }

  p {
    color: #a0a0a0;
    font-size: 14px;
  }
}

/* #banner .banner__box .banner__search */

#banner .banner__box .banner__search {
  text-align: center;
  margin-top: 30px;
  padding: 15px;
  background-color: #ecebeb;
}

.banner__search {
  form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }

  label.product {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 15px;
      display: block;
      width: 1px;
      height: 20px;
      background-color: #ccc;
    }
  }

  input.product__search {
    width: 83%;
    height: 50px;
    padding-left: 10px;
    font-size: 17px;
    border: none;
    background-color: #fff;
  }

  button.searchBtn {
    width: 50px;
    height: 50px;
    background-image: url(/images/btn_sch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

/* #banner .banner__box .banner__slide__box */

#banner .banner__box .banner__slide__box {
  position: relative;
  padding: 60px 0;
}

.banner__slide__box {
  > div {
    text-align: center;
    cursor: pointer;

    img {
      display: inline-block;
      width: 180px;
      height: 195px;
      margin: 0 auto;
    }
  }

  .slide02 {
    .list02__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list02__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide03 {
    .list03__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list03__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide04 {
    .list04__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list04__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide05 {
    .list05__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list05__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide06 {
    .list06__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list06__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide07 {
    .list07__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list07__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }

  .slide08 {
    .list08__on {
      display: none;
    }

    &:hover {
      img {
        display: none;
      }

      .list08__on {
        display: block;
      }

      p {
        font-weight: bold;
      }
    }
  }
}

#banner {
  .pager {
    .prev {
      display: block;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      width: 30px;
      height: 50px;
      background-image: url(/images/btn_prev02.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      z-index: 10;
    }

    .next {
      display: block;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      width: 30px;
      height: 50px;
      background-image: url(/images/btn_next02.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  .slick-dots {
    ul {
      display: flex;  
      li {
        display: flex;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
  
          &:before {
            font-size: 12px;
            padding: 5px;
            color: #ff0303;
          }
        }
  
        &.slick-active button:before {
          color: #ff0303;
          border: 1px solid #f80202;
          border-radius: 50%;
          padding: 5px;
        }
      }
    }

    display: flex;
    justify-content: center;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -65px;
  }
}
